html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

/*  // BACKGROUND// */

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 40%;
    background: skyblue;
}

.grass{
    height: 30%;
    background: seagreen;
}

.road{
    height: 30%;
    background: gray;
    box-sizing: border-box;
    border-top: 10px solid rgb(75, 74, 74);
    border-bottom: 10px solid rgb(75, 74, 74);
    width: 100%;
}

.lines{
    box-sizing: border-box;
    border: 5px dashed #ffff;
    height: 8px;
    width: 100%;
    position: absolute;
    top: 45%;
}

/* // ELEMENT TO ANIMATE // */

.mario{
    position: absolute;
    top: -60px;
    left: 0px;
    animation: drive 3s both infinite linear, jump 0.5s 1.2s ease;
}

.luigi{
    position: absolute;
    top: 20px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.cloud{
    position: absolute;
}
.cloud:nth-child(1){
    width: 200px;
    top: 100px;
    opacity: 0.5;
    animation: wind 70s linear infinite reverse;
}
.cloud:nth-child(2){
    width: 300px;
    top: 0px;
    animation: wind 65s linear infinite reverse;
}


/*  //KEY FRAME// */

@keyframes drive{
    from{transform: translateX(-200px)}
    to{transform: translateX(1550px);}    
}

@keyframes wind{
    from{left: -300px}
    to{left: 100%}
}

@keyframes jump{
    0%{top -60px}
    50%{top 150px}
    100%{top -60px}
}